p{
    color:green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ict
{
    text-decoration: none;
    color: aqua;
    text-transform: uppercase;
}
.apa_grp{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    background-color: blueviolet;
}
.apa_grp span{
    background-color: brown;
}
table,td{
    border: 1px solid black;
    width: 40%;
    height: 2em;
    margin: auto;
}